#north, #south, #east, #west {
  max-width: 4%;
  max-height: 4%;
}

#death {
  display: none;
  background-color: black;
  color: red;
  min-height: 100vh;
  text-align: center;
  font-size: 8em;
  line-height: 3em;
}

.container {
  max-height: 100%;
  /*min-height: calc(100vh - 267px);*/
  margin-left: 10px;
  margin-right: 10px;
  width: 80%;
  max-width: 88%;
}

#footer {
  /*position: absolute;*/
  margin-top: 20px;
  min-width: 100%;
  height: 106px;
  bottom: 0px;
  padding-bottom: 25px;
  background-color: #ac9371;
}

.stats, .items {
  float: right;
  display: inline-block;
  margin-right: 30%;
}

.gems {
  margin: 0 2.5px;
}

#description img {
  -webkit-box-shadow: 10px 10px 35px -7px rgba(148,120,64,1);
  -moz-box-shadow: 10px 10px 35px -7px rgba(148,120,64,1);
  box-shadow: 10px 10px 35px -7px rgba(148,120,64,1);
}

img#north {
  margin-left: 67px;
}

img#west {
  margin-left: 25px;
}

img#east {
  margin-left: 33px;
}

img#south {
  margin-left: 67px;
}

body, footer {
  max-height: 90%;
}
/*@media screen and (max-width: 955px) {
  p.description, p.notices {
    resize: both;
  }
}*/
