#north, #south, #east, #west {
  max-width: 4%
}

#death {
  display: none;
  background-color: black;
  color: red;
  min-height: 100vh;
  text-align: center;
  font-size: 8em;
  line-height: 3em;
}

.container {
  min-height: calc(100vh - 267px);
  margin-left: 10px;
  margin-right: 10px;
}
/*
#dex, #str, #wit, #health, #days, #items {
  margin-top: 10px
}*/

footer {
  position: fixed;
  min-width: 1024px;
  width: auto;
  width: 1024px;
  height: 106px;
  bottom: 20px;
  background-color: tan;
  padding-bottom: 25px;
}

.stats, .items {
  float: right;
  display: inline-block;
  margin-right: 30%;
}

.gems {
  margin: 0 2.5px;
}

/*.stats-mid, .items-mid {
  float: right;
  display: inline-block;
  margin-right: 12%;
}*/


/*
#item1 {
  float: right;
  display: inline-block;
  margin-right: -15px;
}*/

img#north {
  margin-left: 67px;
}

img#west {
  margin-left: 25px;
}

img#east {
  margin-left: 33px;
}

img#south {
  margin-left: 67px;
}

@media screen and (max-width: 955px) {
  p.description, p.notices {
    resize: both;
  }
}
